#self_manage{
  width: 100%;
  height: 100%;
  position: relative;
  .manage_info{
    width: 90%;
    margin: -60px auto 0;
    padding: 20px 10px 0;
    position: relative;
    z-index: 100;
    background: #fff;
    border-radius: 15px;
    height: 100px;
    border: 2px solid #DEEBF1;
    box-shadow: 5px 5px 10px rgba(0,0,0,.05);
    .user_bg{
      width: 21%;
      padding: 7px;
      background: url(../images/user_bg.png) no-repeat;
      background-size: 100%;
      margin-left: -5px;
      margin-top: -15px;
    }
    .userImg{
      width: 90%;
      height: 90%;
      margin-left: 5%;
      border-radius: 30px;
    }
    .userName{
      position: absolute;
      left: 80px;
      top:6px;
      color: #3f3f3f;
      font-size: 20px;
      width: 80px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .userAction{
      position: absolute;
      top:-40px;
      right: 0px;
      display: flex;
      width: 90px;
      justify-content:center;
      color: #ff9800;
      &>p{
        &>.manage_icon{
          width: 40px;
          height: 40px;
          background: url(../images/manage_icon.png) no-repeat;
          background-size: 100%;
        }
        &>.help_icon{
          width: 40px;
          height: 40px;
          background: url(../images/help_icon.png) no-repeat;
          background-size: 100%;
        }
        &>.response_icon{
          width: 40px;
          height: 40px;
          background: url(../images/response_icon.png) no-repeat;
          background-size: 100%;
        }
        flex-grow:1;
        text-align: center;
      }
    }
    .userInfo{
      position: absolute;
      top:35px;
      display: flex;
      flex-wrap:wrap;
      left: 80px;
      width: calc(100% - 94px);
      justify-content:center;
      color: #737373;
      font-size: 15px;
      &>div{
        flex-grow:1;
        text-align: left;
        &>span{
          color: #10aeff;
        }
      }
    }
    .stamina{
      display: block;
      width: 100px;
      background: url(../images/tili.png) no-repeat;
      background-size: 100%;
      height: 40px;
      margin-left: 40px;
      position: relative;
      p{
        color: #fff;
        position: absolute;
        right: 11px;
        line-height: 32px;
        width: 44px;
        text-align: center;
      }
    }
    .info_money{
      display: block;
      width: 110px;
      background: url(../images/xiguanbi.png) no-repeat;
      background-size: 100%;
      height: 40px;
      margin-left: calc(50% - 120px);
      position: relative;
      p{
        color: #fff;
        position: absolute;
        right: 11px;
        line-height: 32px;
        width: 44px;
        text-align: center;
      }
    }
  }
  .manage_center{
    width: 100%;
    height: calc(100% - 180px);
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: -10px;
    position: absolute;
  }
  .manage_detail{
    width: 100%;
    padding: 0;
    display: flex;
    margin-bottom: 40px;
    justify-content:space-around;
    align-content:space-around;
    flex-flow: row wrap;
    &>div{
      width: 46%;
      height: 128px;
      margin-top: 4%;
      text-align: center;
      position: relative;
      /*box-shadow: 2px 1px 1px rgba(0,0,0,.3);*/
      p{
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        width: 100%;
        position: absolute;
        bottom: 20px;
        text-shadow:2px 2px rgb(150,88,9);
      }
    }
    .new::before{
      content: '';
      display: block;
      position: absolute;
      width: 55px;
      height: 48px;
      background: url(../images/new.png) no-repeat;
      background-size: 100%;
    }
    .classes{
      background: url(../images/class.png) no-repeat;
      background-size: 100% 100%;
    }
    .stamina{
      background: url(../images/stamina.png) no-repeat;
      background-size: 100% 100%;
    }
    .kezhuo{
      background: url(../images/kezhuo.png) no-repeat;
      background-size: 100% 100%;
    }
    .friend{
      background: url(../images/haoyou.png) no-repeat;
      background-size: 100% 100%;
    }
  }
  .home_footer{
    display: flex;
    height: 50px;
    width: 100%;
    justify-content:space-between;
    background: url(../images/nav_bg.png) no-repeat;
    background-size:  100% 100%;
    &>div{
      width: 100px;
      flex-grow:1;
      text-align: center;
    }
    .btn{
      height: 50px;
      line-height: 30px;
      margin: 10px;
      width: 50px;
      color: #fff;
      background: #F47252;
      border-radius: 5px;
      position: relative;
      p{
        display: block;
        width: 63px;
        position: absolute;
        font-size: 14px;
        bottom: -17px;
        margin-left: -6px;
      }
      &.DT{
        margin-top: -10px;
        background: url(../images/DongTai.png) no-repeat;
        background-size:100% 100%;
      }
      &.JL{
        margin-top: -20px;
        background: url(../images/JiangLiJLx.png) no-repeat;
        background-size:100% 100%;
      }
      &.RW{
        margin-top: -20px;
        background: url(../images/RenWuJL.png) no-repeat;
        background-size:100% 100%;
      }
      &.FX{
        margin-top: -10px;
        background: url(../images/FenXiang.png) no-repeat;
        background-size:100% 100%;
      }
    }
  }
}
#money_manage{
  width: 100%;
  padding-bottom: 10px;
  .money_info{
    width: 90%;
    margin: 5%;
    border-radius: 10px;
    background: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,.12),-2px -2px 2px rgba(0,0,0,.12);
    height: 100px;
    color: #40B1F6;
    position: relative;
    line-height: 30px;
    span{
      line-height: 30px;
      vertical-align:middle;
    }
    .money_font{
      color: #F47252;
      font-size: 30px;
      line-height: 30px;
    }
    .right_font{
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: right;
      line-height: 30px;
      font-size: 20px;
      color: #777777;
      padding-right: 10px;
    }
  }
  .money_title{
    color: #F9B105;
    font-size: 20px;
    margin-left: 10px;
  }
  .money_list{
    position: absolute;
    top: 170px;
    width: 100%;
    bottom: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    &>li{
      color: #40B1F6;
      width: 100%;
      margin-bottom: 5px;
      background: #fff;
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      display: flex;
      justify-content:center;
      flex-flow: row wrap;
      span{
        display: block;
        width: 100px;
      }
      .left_font{
        text-align: left;
        flex-grow:1;
        padding-left: 5px;
      }
      .middle_font{
        flex-grow: 2;
        text-align: center;
      }
      .right_font{
        flex-grow: 1;
        text-align: right;
        padding-right: 5px;
      }
    }
  }
}
#recharge{
  width: 100%;
  background: #E4F5FF;
  padding-bottom: 10px;
  .money_info {
    width: 90%;
    margin: 5%;
    border-radius: 10px;
    background: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .12), -2px -2px 2px rgba(0, 0, 0, .12);
    height: 100px;
    color: #40B1F6;
    position: relative;
  }
  .recharge_btn{
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    background: #FCA26D;
    margin: 20px auto;
  }
}